*{
    list-style: none;
}
.bg1{
    width: 420px;
    height: 180x;
    padding: 10px;
    margin: auto;
    border: 1px solid #dedede;
}
.bg1 ul li{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background: url(../images/008.jpg) no-repeat left center;
    /* background-repeat: no-repeat;
    background-position: 0 center; */
}
.bg1 ul li a{
    font-size: 16px;
    color: #222222;
    text-decoration: none;
}
.bg1 ul li:first-child a{
    font-size: 18px;
    font-weight: bold;
}
.bg1 ul li:nth-child(2) a{
    font-size: 16px;
    font-weight: bold;
}